<div class="container">
<h3>{{$ctrl.viewUser.username}}</h3>

<button ng-click="$ctrl.follow()">Follow</button><button ng-click="$ctrl.unfollow()">Unfollow</button>
<p></p>
<strong>{{$ctrl.viewUser.firstname}} {{$ctrl.viewUser.lastname}}</strong>
<br>
Email: {{$ctrl.viewUser.email}}
<blockquote>
	<p>
		{{$ctrl.viewUser.bio}}
	</p>
</blockquote>
<div class ="col-md-6">
	<strong>Followers: </strong>
	<ul>
		<li ng-repeat="follower in $ctrl.viewUser.followers"></li>
	</ul>
</div>
<div class="col-md-6"></div>
	<strong> Following: </strong>
	<ul>
		<li ng-repeat="follow in $ctrl.viewUser.following"></li>
	</ul>
</div>


<div>
<news-feed key="$ctrl.key"></news-feed>
</div>