
        <div class="container">
            <div ng-show="message">
            <div ng-class = "alert">
                {{$ctrl.message}}
            </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>images</th>
                        <th>username</th>
                        <th>caption</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in $ctrl.globalfeed | filter:search">
                        <td><img ng-src="../{{post.pic.filepath}}"  alt="No Image!" height="100" width="100"/></td>
                        <td>{{post.name}}</td>
                        <td>{{post.pic.caption}}</td>
                        <!-- <td><td ng-repeat="comment in post.comments">{{comment.user}}: {{comment.message}}</td></td>≈
                        <td><button class="btn btn-primary" name="addcomment" ng-click="addcomment()">Add Comment</button></td> -->
                    </tr>
                </tbody>
            </table>
    
        </div>
        <h3 ng-model="foo">{{$ctrl.key.stuff}}</h3>

