<body>
        <div class="container">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Newsfeed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in feed">
                        <td><img src="" alt="No Image!" height="100" width="100"></td>
                        <td><td ng-repeat="comment in post.comments">{{comment.user}}: {{comment.message}}</td></td>
                        <td><button class="btn btn-primary" name="addcomment" ng-click="addcomment()">Add Comment</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>