<body>
        <div class="container">
            
            <table class="table">
                Log in:
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="form-control" ng-model="user.username"></td>
                        <td><input class="form-control" ng-model="user.password"></td>
                        <td><button class="btn btn-primary" ng-click="login()">Login</button></td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table">
                Or create a new account:
                <tbody>
                    <tr>
                        <td>First Name: <input class="form-control" ng-model="newuser.firstname"></td>
                        <td>Last Name: <input class="form-control" ng-model="newuser.lastname"></td>
                        <td>Username: <input class="form-control" ng-model="newuser.username"></td>
                        <td>Password: <input class="form-control" ng-model="newuser.password"></td>
                        <td>Email: <input class="form-control" ng-model="newuser.email"></td>
                        <td>Short Bio: <input class="form-control" ng-model="newuser.bio"></td>
                        <td>Private? <input type="radio" value="private" class="form-control" ng-model="newuser.private"></td> 
                        <td><button class="btn btn-primary" ng-click="addNewUser()">Create Account</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>