<div>
    
    Change password to: <input id="changepassword" type="text" ng-model="password"> <button ng-click="change(password, 'changepassword')">Change</button>  

    
    <p></p>
    <input type="radio" name="profilevisibility" ng-model="visibility" value="public" > Public<br>
    <input type="radio" name="profilevisibility" ng-model="visibility" value="private" > Private<br>
    <button ng-click="changeprofiletype(visibility)">Change</button> 
    <p></p>
    Change bio to: <input id="changebio" type="text" ng-model="bio"> <button ng-click="change(bio, 'changebio')">Change</button>
    <p></p>
    Change first name to: <input id="changefirstname" type="text" ng-model="firstname"> <button ng-click="change(firstname, 'changefirstname')">Change</button>
    <p></p>
    Change last name to: <input id="changelastname" type="text" ng-model="lastname"> <button ng-click="change(lastname, 'changelastname')">Change</button>
    <p></p>
    Change email to: <input id="changeemail" type="text" ng-model="email"> <button ng-click="change(email, 'changeemail')">Change</button>
    


</div>